body {
  background-image: url("/bg-1.jpg");
}

section {
  width: fit-content;
  background: rgb(138, 134, 134);
  padding: 50px;
  border: 1px solid gray;
  border-radius: 20px;
  opacity: .7;
  margin: auto;
  margin-top: 8rem;
}
.data-box{
    display: flex;

}
.data-1{
    margin: 10px;
}
.data-2{
    margin: 10px;
}
.search-box{
    text-align: center;
}

.search-box input{
    height: 30px;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.search-box button{
    background: black;
    color: white;
    height: 40px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    font-size: medium;
}
